* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


/* CONTENUTO HEADER */

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(31, 30, 30);
    height: 100px;
}

#titleLogo {
    padding: 30px;
    color: rgb(207, 18, 18);
    font-weight: 300;
}

form {
    padding: 50px;

}


button {
    padding: 3px;
    margin-left: 10px;
    font-weight: 600;
}

/* CONTENUTO MAIN */

.container_main {
    height: 1000px;
    background-image: url(../netflix.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}

#titleMain {
    width: 50%;
    font-size: 45px;
    font-weight: 100px;
    color: rgb(238, 227, 227);
    background-color: rgba(0, 0, 0, 0.377);



}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;



}

img {

    padding: 20px;

}



.postitem {
    background-color: aliceblue;
    margin: 20px;
    border: 2px solid black;

}