* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}


/* CONTENUTO HEADER */

header {
    background-color: rgb(173, 210, 240);
    height: 80px;
}


form {
    display: flex;
    justify-content: end;
}

/* CONTENUTO MAIN */



.container {
    display: flex;
    justify-content: space-between;
    gap: 10px;

}

.postitem {
    width: 100%;

    border: 2px solid black;
}